<% include ../partials/header %>
	<div class="content-header row d-xl-block d-lg-block d-md-none d-sm-none d-none">
		<div class="content-header-left col-md-9 col-12 mb-2">
			<div class="row breadcrumbs-top">
				<div class="col-12">
					<h3 class="content-header-title float-left mb-0">Access Type</h3>
					<div class="breadcrumb-wrapper col-12">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="<%= process.env.MIPIE_BACKEND_URL %>/admin">Home</a></li>
							<li class="breadcrumb-item active">Access Type</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content-body">
		<% include ../partials/flash %>
			<section class="list-view">
				<div class="row">
					<div class="col-6 equal-height-2">
						<div class="card">
							<div class="card-header border border-top-0 border-left-0 border-right-0">
								
									<h4 class="card-title pb-1">Access Type</h4>
									
										<h4 class="card-title pb-1">Add Access</h4>
										
							</div>
							<div class="card-content">
								<div class="card-body">
									<!--  -->
									
										<form class="form-horizontal" action="" method="post">
											<div class="row">
												
												<div class="col-xl-4 mb-1">
													<label>Role Type</label>
													<select style="cursor: pointer;" class="form-control"
														name="_qualification" id="qual" required>
														<option value="">Select Option</option>
														
																<option value="" class="text-capitalize"
																	selected>
																	admin
																</option>
																
																	<option value="" class="text-capitalize">
																		user
																	</option>
																	
													</select>
												</div>
												<!-- <div class="col-xl-4 mb-1">
													<label>Select Stream</label>
													<select style="cursor: pointer;" class="form-control"
														name="subQuali" id="subQua" required>
														<option disabled value="-">
															Select Option
														</option>	
													</select>
												</div> -->
												
													<!-- <div class="col-xl-4 mb-1">
														<label>Select Course <span class="asterisk">*</span></label>
														<select style="cursor: pointer;" class="form-control"
															name="_qualification" required>
															<option value="" disabled>Select Option</option>
															
																	<option value="" class="text-capitalize"
																		selected disabled>
																		
																	</option>
																	
																		<option disabled value="" class="text-capitalize">
																			
																		</option>
																		
														</select>
													</div> -->
													<!-- <div class="col-xl-4 mb-1 align">
														<label>Stream Name</label>
														<input type="type" class="form-control" required
															value="" minlength="1" maxlength="100"
															name="name" placeholder="Stream name" />
													</div> -->
													
													<div class="col-xl-4 mb-1">
														<br />
														
															 <!-- <button type="submit" 
															class="btn btn-success font-small-3" >
																Update
															</button> -->
															
																<button type="submit" 
																class="btn btn-success font-small-3 ">
																
																	Add
																</button>
																
													</div>
											</div>
										</form>
										
											<button onclick="showForm()" class="btn btn-success font-small-3 mb-1"
											>Add Role</button>
													
											<form id="hideShowCourse" action="" method="post">
												<div class="row">
													<!-- <div class="col-xl-4 mb-1">
														<label>Select Course</label>
														<select style="cursor: pointer;" class="form-control"
															name="_qualification" required>
															<option value="">Select Option</option>
															
																	<option value="" class="text-capitalize"
																		selected>
																		
																	</option>
																		<option value="" class="text-capitalize">
																			
																		</option>
																		
														</select>
													</div> -->
													<!-- <div class="col-xl-4 mb-1 align">
														<label>Stream Name</label>
														<input type="type" class="form-control" required
															value="" minlength="1" maxlength="100"
															name="name" placeholder="Stream name" />
													</div> -->
													<div class="col-xl-4 mb-1">
														<br />
																<button type="submit" 
																class="btn btn-success font-small-3 "
																>
																	Add
																</button>
													</div>
												</div>
											</form>						
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 rounded equal-height-2 coloumn-2">
						<div class="card">
							<div class="row p-1">
								<div class="col-xl-6">
									<div class="row">
										<div class="card-header">
											<h4 class="card-title">All Streams</h4>
										</div>
									</div>
								</div>
								<!-- <div class="col-xl-6">
             <div class="row">
                 <div class="col-xl-12 text-right">
                     <a href="" class="btn btn-outline-success">Import</a>
                     <a href="" class="btn btn-outline-primary">Export</a>
                   </div>
             </div>
         </div> -->
							</div>
							<div class="card-content">
								<div class="table-responsive">
									
										<table class="table table-hover-animation mb-0 table-hover">
											<thead>
												<tr>
													<th>Role Type</th>
													<!-- <th>Course</th> -->
													
													<th>Status</th>
													
										             <th>Action</th>
										             
												</tr>
											</thead>
											<tbody>
												
														<tr>
															<td class="text-capitalize">
																
															</td>
															
															
																<td></td>
																
															<td valign="middle">
																<a href="<%= process.env.MIPIE_BACKEND_URL %>/admin/subQualification/edit/">
																	<i class="feather icon-edit fa-lg primary" ></i>
																</a>
															</td>
														
														</tr>
														
											</tbody>
										</table>
										
											<p class="text-center mt-3">No result found</p>
											
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% include ../partials/footer %>
				<script>
					function myOnOffFunc(id, status, model) {
						// eslint-disable-line
						let myStatus = true;
						if (status === true || status === "true") {
							myStatus = false;
						}
						$.ajax({
							type: "POST",
							url: "<%= process.env.MIPIE_BACKEND_URL %>/admin/changestatus",
							data: {
								id,
								status: myStatus,
								model,
							},
							success: () => location.reload(),
						});
					}
				</script>
				<script>
					!(function () {
						"use strict";
						Array.isArray ||
							(Array.isArray = function (r) {
								return "[object Array]" === Object.prototype.toString.call(r);
							});
						var r = {
							get: function () {
								var r = window.location.search,
									t = {};
								return "" === r
									? t
									: ((r = r.slice(1)),
										(r = r.split("&")),
										r.map(function (r) {
											var i, o;
											(r = r.split("=")),
												(i = r[0]),
												(o = r[1]),
												t[i]
													? (Array.isArray(t[i]) || (t[i] = [t[i]]),
														t[i].push(o))
													: (t[i] = o);
										}),
										t);
							},
						};
						if (window) {
							if (window.qs)
								throw new Error(
									"Error bootstrapping qs: window.qs already set."
								);
							window.qs = r;
						}
					})();
				</script>
				<script>
					document.addEventListener("DOMContentLoaded", () => {
						const pageAnchors = document.querySelectorAll("a.pageAnchor");
						const { origin, pathname, search } = window.location;
						const obj = window.qs.get(search);
						const keyArr = Object.keys(obj).filter((x) => !!obj[x]);
						let url = `${origin}${pathname}?`;
						keyArr.forEach((x) => {
							if (x !== "page") {
								url += `${x}=${obj[x]}&`;
							}
						});
						pageAnchors.forEach((el) => {
							const n = el.getAttribute("href");
							el.setAttribute("href", `${url}page=${n}`);
						});
					});

					$("#qual").change(() => {
						$("#subQua")
							.find("option")
							.remove()
							.end()
							.append(
								'<option disabled selected value="">Select Option</option>'
							);
						axios
							.post("<%= process.env.MIPIE_BACKEND_URL %>/panel/helper/getsubQual", {
								_qualification: $("#qual").val(),
							})
							.then(({ data }) => {
								data.forEach((d) => {
									$("#subQua").append(
										`<option class='text-capitalize' value='${d._id}'>${d.name}</option>`
									);
								});
							})
							.catch((e) => console.log(e));
					});

					function showForm() {
            			var x = document.getElementById("hideShowCourse");
            			if (x.style.display === "block") {
              				x.style.display = "none";
            			} else {
              				x.style.display = "block";
            			}
		      		}
				</script>
	</div>
</body>
</html>