<% if(error && error.length > 0) { %>
	<div class="alertAdmin alert-danger alert-dismissible error_login" role="alert">
	  <strong>Error!</strong>
	  <%= error.join('<br>') %>
	</div>
  <% } %>
  
  <% if(success && success.length > 0) { %>
	<div class="alertAdminSuccess alert-success alert-dismissible error_login" role="alert">
	  <strong>Success!</strong>
	  <%= success.join('<br>') %>
	</div>
  <% } %>
  
  <% if(info && info.length > 0) { %>
	<div class="alertAdmin alert-info alert-dismissible error_login" role="alert">
	  <strong>Info!</strong>
	  <%= info.join('<br>') %>
	</div>
  <% } %>
  